<nav class="navbar navbar-dark bg-primary">
  <button aria-controls="navbar-header" class="navbar-toggler hidden-sm-up" data-target="#navbar-header" data-toggle="collapse"
    type="button">
    ☰
  </button>
  <div class="collapse navbar-toggleable-xs" id="navbar-header">
    <a class="navbar-brand" href="#">
      Shoppers App
    </a>
  </div>
  <div>
    <a *ngIf="!isloggedIn()" class="navbar-brand">
      Login
    </a>
    <a *ngIf="isloggedIn()" (click)="logout($event)" class="navbar-brand">
      Logout
    </a>
  </div>
</nav>