<h1 class="pull-xs-left">
  Your Shopping Lists
</h1>
<div class="pull-xs-right">
  <a class="btn btn-primary" href="#" role="button">
    New Shopping List +
  </a>
</div>

<div class="clearfix">
</div>
<br>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body" [routerLink]="['/items']">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Delete</a>
        <a href="#" class="btn btn-primary">Edit</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <div [routerLink]="['/items']">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
        <a href="#" class="btn btn-primary">Delete</a>
        <a href="#" class="btn btn-primary">Edit</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body" [routerLink]="['/items']">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Delete</a>
        <a href="#" class="btn btn-primary">Edit</a>
      </div>
    </div>
  </div>
</div>