<h1 class="pull-xs-left">
  Your Shopping Lists
</h1>
<div class="pull-xs-right">
  <a class="btn btn-primary" [routerLink]="['/add-category']" role="button">
    New Shopping List +
  </a>
</div>

<div class="clearfix">
</div>
<br>
<div class="row">
  <div *ngFor="let category of categories" class="col-sm-4">
    <div class="card text-center">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text pointerCursor">{{ category?.name}}</p>
      </div>
      <hr/>
      <div class="card-footer">
        <button (click)="displayItems(category?.id)" class="btn btn-success">Item(s)</button>
        <button (click)="deleteCategory(category?.id)" class="btn btn-danger">Delete</button>
        <button (click)="editCategory(category?.id)" class="btn btn-primary">Edit</button>
      </div>

    </div>
  </div>
</div>